@import "tailwindcss";

@theme{
  --color-darkblue:#2857c8;
  --color-lightblue:#397df1;
  --color-lightcolor:white;
  --color-lightorange:#f59e0b;
}

body{
  /* background-color: black; */
  height: 100vh;
  padding: 0;

}