@import "tailwindcss";

@theme{
  --color-darkblue:#2857c8;
  --color-lightblue:#397df1;
  --color-lightorange:#f59e0b;
  --color-primary : #3068da;
  --color-secondary:#f59e0b;
  --color-terinary:#22c55e;
  --color-grey:#4b5563;
  --color-lightgrey:#f9fafb;
  --color-contactgrey:#9ca3af;
  --color-lightcolor:#9ca3af;
  --color-loginsbackground:#E9DFC3;
  --color-leftblack:#18202f;
  --color-rightblack:#1f2937;
  --color-darkwhite:#f9fafb;
  --shadow-boxShadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.1),
                      0px 1px 0px 0px rgba(25, 28, 33, 0.02),
                      0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

body{
  /* background-color: black; */
  height: 100vh;
  padding: 0;


}